


body {
  background: #b0d0d1;
}

@font-face {
  font-family: "Blanch";
  src: url(BLANCH_CAPS.otf);
}

h1 {
  font-family: "Blanch", sans-serif;;
}

input {
  margin-bottom: 10px;
}

form h2 {
    text-align: center;
}

#donate {
  position: fixed;
  bottom: 0;
  right: 0;
}
